ul.mainMenu {
    list-style: none;
    margin-bottom: 30px;
}
ul.mainMenu li a{
    text-decoration: none;
}
ul.mainMenu li{
    float: left;
    width: 100px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
ul.mainMenu li:hover{
    background-color: rgba(0,0,0,0.1);
    font-size: 1.05em;
    color: darkviolet;
}
span.table_list_title{
    cursor: pointer;
}
span.table_list_title:hover{
    color:mediumorchid;
    transition: 0.2s ease-in-out;
}
* th{
    text-align: center;
}
pre img{
    max-width: 500px;
}
/* CommentList.css */

.input-container {
    display: inline-block;
    margin-left: 10px;
}

.slide-enter {
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-width 300ms ease-out, opacity 300ms ease-out;
}

.slide-enter-active {
    max-width: 200px; /* 적절한 너비로 설정 */
    opacity: 1;
}

.slide-exit {
    max-width: 200px; /* 동일한 너비로 설정 */
    opacity: 1;
    transition: max-width 300ms ease-in, opacity 300ms ease-in;
}

.slide-exit-active {
    max-width: 0;
    opacity: 0;
}