ul.mainMenu {
    list-style: none;
    margin-bottom: 30px;
}
ul.mainMenu li a{
    text-decoration: none;
}
ul.mainMenu li{
    float: left;
    width: 100px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
ul.mainMenu li:hover{
    background-color: rgba(0,0,0,0.1);
    font-size: 1.05em;
    color: darkviolet;
}
span.table_list_title{
    cursor: pointer;
}
span.table_list_title:hover{
    color:mediumorchid;
    transition: 0.2s ease-in-out;
}
* th{
    text-align: center;
}
pre img{
    max-width: 500px;
}